/*Map Area*/
#geoiq_map, #map-content {width:960px; height:535px; background:#FFFFFF;}

#map-content-header{background-image:url(../images/map.nav.header.gif); border:medium none;height:47px;  overflow:hidden;  padding:0 0 0 10px;}
#map-content-title {font-family:arial;font-size:13px; color:#000; white-space:normal;float:left; margin-top:10px; margin-left:15px; padding-top:6px; } 
#map-content-icons{}
#map_console{background-image:url(../images/map.console.png);width:960px;height:96px;position:relative;top:-96px;overflow:hidden;}
.console-title{font-family:georgia;font-size:24px;color:#A52A2A; float:left;margin:10px 0 0 25px;font-weight:bold;}
.console-info{font-family:georgia;font-size:20px;color:#7F7F7F;float:left;margin:15px 0 0 5px;}
#map_factbox{background-image:url(../images/map.factbox.png);width:206px;height:133px;position:relative;top:-444px;left:701px}
.factbox-title{font-family:arial;font-size:20px;  color:#FFFFFF;margin:3px 0 0 20px;}
.map-factbox-info {margin:3px 0 0 25px;}

/*Charts Under Map*/
#chart-left {margin-top:20px; margin-bottom:17px; width:474px; height:260px; float:left; border-right:2px solid #d7d7d7;}
#funding_by_region{}
#chart-right {margin-top:20px; margin-bottom:17px; width:476px; height:260px; float:left;}
.block-title { font-family:arial, sans serif;  background:none repeat scroll 0 0 transparent;  border-bottom:1px solid #E0E0E0;
  color:#666666;  font-size:11px;  font-weight:bold;  line-height:20px;  padding:5px 0px 0px 5px;margin:0px 0px 0px 5px;  width:80%;}

/*Projects Search Bar*/
#projects-bar {width:958px; height:45px; margin-top:17px; margin-bottom:17px; background-image:url(../images/project-bar-bg.gif); border-top:2px solid #9b0a07; border-left:1px solid #cfd1c4; border-bottom:1px solid #cfd1c4; border-right:1px solid #cfd1c4; float:left;}
#project-search-box{background:url(../images/projects_search.jpg) no-repeat scroll 0 0 transparent;
  left:600px; top:1145px;right:0;float:right;border:none;width:403px;height:31px; margin-top:-22px; padding-left: 5px;}
.project-bar-text {width: 200px;font-family:arial, sans serif; font-size:12px; color:#000; margin-top: 15px; margin-left: 10px;}
  
/*Data Table*/
#data-table {width:960px; height:auto; float:left;}
#projects-table_grid{width:101%;}
.img-margins {margin-left:5px; margin-right:13px;}

/*Table Styling*/
/*td{text-align:center;}*/

thead{height:35px;width:930px;background-image:url(../images/table-top-row-bg.gif);}
thead th{border-right:1px solid #4D4D4D;text-align:center;}
.column_title{margin-right:2px;}
.sort_icon{ display:none;}
.top-row-col1 {border: 1px solid #dadcd1;}
tr#feature_{height:35px;border-bottom:1px solid #dadcd1;}

/*Page Scroll Layer*/
#page-scroll {width:958px; height:33px; float:left; border: 1px solid #d9dcdc; margin-top:17px; margin-bottom:17px;}
.pagination{font-family:arial;font-size:12px;color:#7F7F7F;float:left;margin:10px 0 0 5px;}
.pagination a{color:#7F7F7F;margin-right:5px;}

/*Red Footer*/
#red-footer {margin: 0px 0px 2px; padding: 0px 0px 0px; width:960px; height:35px; background:url(../images/red-footer-bg.gif); float:left}
.red-footer-links b {padding-left: 18px;}
#red-footer .footer-nav a , #footer .footer-breadcrumb a:visited,
.red-footer-links, #red-footer .footer-nav a.topic, #footer .footer-nav a.topic:visited
{color: #FFFFFF; font-size: 1em; font-family:Arial, sans-serif; font-size: 11px;}
#red-footer .footer-nav a.topic, #footer .footer-nav a.topic:visited {color: #ffffff; font-weight: bold;}
#red-footer p {margin: 0px 0px; padding: 0px;}
#red-footer p.logos img {margin: 0px 10px;}
#red-footer img {vertical-align: middle; padding-right: 5px;}
#red-footer a {color: #FFFFFF; font-size: 11px; font-family:Arial,sans-serif; margin-top:5px; padding-left:}
#red-footer .footer-nav {
  margin:10px 0px 0px 0px;
  padding: 0px;
}

#red-footer .red-footer-links li {
  list-style : none ;
  display : inline ;
  padding : 0 4px 0 4px;
}
#red-footer .red-footer-links li.last {
  border-right : none;
}

/*Grey Footer*/

#footer-maps {margin: 0px 0px 20px; padding: 0px 0px 10px; width: 960px; height:55px; float:left; background: url(../images/footer-grey-bg.gif) repeat-x}
#footer-maps .footer-breadcrumb { background: url(../images/footer-grey-bg.gif) repeat-x; margin: 22px 0px 0px 30px; float:left;}

#footer-maps .footer-breadcrumb a , #footer .footer-breadcrumb a:visited,
#footer-maps .footer-breadcrumb a.topic, #footer .footer-breadcrumb a.topic:visited
{color: #fff; font-family:Arial,sans-serif; font-size: 0.920em; font-variant:small-caps; font-weight:bold;}

#footer-maps .footer-breadcrumb a.topic, #footer .footer-breadcrumb a.topic:visited {color: #ffffff; font-variant:small-caps; font-weight: bold;}

#footer-maps p {margin: 0px 0px; padding: 0px;}
#footer-maps p.logos img {margin: 0px 10px;}
#footer-maps img {vertical-align: middle;}
#footer-maps .footer-links {font-size: 0.8em; margin: 20px; padding: 20px 0px 0px; border-top: 1px solid #dedfd9; line-height: 2em;}
#footer-maps .footer-links a, #footer .footer-links a:visited {color: #7b7c77; padding-top:5px;}
#footer-maps p.logos a, #footer p.logos a:visited {font-size: 1.25em; font-weight: bold;}

#footer-maps .links {
  margin:0px;
  padding: 0px;
}

#footer-maps .links li {
  list-style : none ;
  display : inline ;
  padding : 20px 4px 0 4px;
}

#footer-maps .bottom-links li.last {
  border-right : none;
}

#footer-maps #logo-footer-grey {width: 26px; margin:16px; padding: 0px 0px 0px 0px; float:left;}

#footer-maps #separator { float:left; margin-left:31px;}

/*Pending */
.chart { color: #883333; padding: 50px 50px;}