
h6 a, h6 a:visited {color: #41423F;}

.image-left {margin:13px 10px 0 0;
padding:0;
}

.features {line-height:1.5em;
margin:20px 0 30px;
}

#highlights .readmore a, #highlights .readmore a:visited {color:#840202;
font-size:1.1em;
}

/* on regions page */
.image-left {float:left;
margin:15px 10px 0 0;
padding:0;
}

.features {
line-height:1.54em;
margin:10px 0px 20px;
}

.ccregion-regioninfo .regionmap {padding-top: 5px;}

/* for around the map image on hp */

.node .around-hp img {
margin:0 0 0 -5px;
}

/* lending and advice page */

.node .toplevel-featurechart img {margin: 0px;}

.toplevel-featurechart {padding:0 40px;
}

 /*.features { same as on hp
line-height:1.5em;
margin:10px 0 20px; also same applies on the research top right featured pub section page 
}*/


.listing { /* also same applies for the listing on the research page */
background:#F8F9F3 none repeat scroll 0 0;
border-top:2px solid #EAEEE3;
clear:both;
margin:0 -10px;
padding:15px 10px 20px;
}
/* end lending and advice page */

/* research page */

.view-display-id-block_6 .image-left {margin-right:15px;
margin-top:0;
}
.view-display-id-block_6 .blurb {margin-right:15px;
padding:0px;
}

#stats .stat-number {font-size: 3.3em; 
padding-right: 5px;}
#stats .stat-desc {font-size: 1.5em;}

#highlights {padding: 0px;}

#highlights h6 {background:#FFFFFF url(../images/background-images/highlights-back.gif) repeat-x scroll 0 0;
height:20px;
padding:10px 0 0 10px;
}
#block-aggregator-feed-1 .item-list {}

#block-aggregator-feed-1 .item-list ul li {padding: 5px 0px 5px 15px;
}

/* #highlights, .highlights_slide .item {
border:none;}

#highlights .highlights_slide{background: #fff url(../images/background-images/fauxcol-highlights.gif) repeat-y 50% 0%;  
} */

#highlights {border:1px solid #DADCCF;
}

.highlights_slide .item {border-right:1px solid #DADCCF; }

#sidebar-left #block-nodeasblock-3418 {border-left:1px solid #DADCCF;
border-right:1px solid #DADCCF;
}
/* fix on HP*/ 
body.region-left.region-right.region-far-right.region-content-top #sidebar-left #block-nodeasblock-3418 {border-right:0px solid #DADCCF;}

#sidebar-right hr {border:1px solid #EAEEE3;
margin:10px -13px 10px -10px;
width: 300px;
}

#block-views-related_content-block_1 .expert-image {float:left;
margin:2px 15px 10px 0px;
width:47px;
}

#block-views-related_content-block_1 {margin: 0px; _padding: 0px;}



/*#content ul.overview {float: right; margin: 10px 20px; padding: 0px 20px 0px 10px; padding-right: 20px; border-left: 1px solid #ddd;}*/

/* twitter block */
.twitters a, .twitters a:visited {color: #840202; text-decoration: none;}
/** Style the tweets */
.twitters {
  
}

.twitters span.prefix {
  font-weight: bold;
  
  }
  .twitters .twitterPrefix {display: none;}
  .twitters .twitterPrefix img {margin-right: 10px;}

.twitters .twitterTime {
  font-style: italic;
  font-size: 11px;
  color: #97918e;
  display: block;  
}

.twitters .twitterStatus {
  font-style: bold;
font-size: 12px;
color: #00003a;
}

.data-visual {
margin:0;
padding:0 0 0;
}

/* data page */


/*body.region-left.region-content-top.region-content-top-right #container {
background:#FFFFFF url(../images/background-images/fauxcol-filler-toplevel-data.gif) repeat-y scroll 0 0;
border-bottom:2px solid #980101;
}*/



/* overview text */

.overview-text a.readmore, .overview-text a.readmore:visited {font-size: 0.833em;}

/* HP fixes */
body.region-left.region-far-right #sidebar-right .block {padding-bottom:20px;
padding-top:20px;
}

body.region-content-top.region-content-top-right #center-top {margin:0 0 0 0px;
border-left: 11px solid white;
}

span#infoicon {position:relative;
left:9.5em;
top:-1.2em;
}

span#infoicon a:hover span {left: -10em; z-index: 500;}

.view-whats-new input.form-submit {margin-top: 0em !important;}

.more-link {color:#840202;
font-size:0.9em;
font-weight:bold;}

a.external, a.external:visited {
    background: url(images/out-link.gif) center right no-repeat;
    padding-right: 15px; margin: 0px 0px 0px 0px; border: 1px solid white;
}

 .jcarousel-skin-tango .jcarousel-container-horizontal {
padding:20px 40px;
width:200px;

}
li.jcarousel-item {background-image: none;}

 .jcarousel-skin-tango .jcarousel-container {
border: none;
background: none;
padding-top: 0px;}

.imagefield-field_expertthumb {float: left; margin-right: 5px;}

.views-field-field-bioteaser-value {width: 180px; clear: both; margin-top: 25px;}

.views-field-title {font: 1.2em georgia;}
#sidebar-right span.views-field-title span.field-content a,  #sidebar-right span.views-field-title span.field-content a:visited {color: #333;}

#sidebar-right .views-field-field-bioteaser-value a, #sidebar-right .views-field-field-bioteaser-value a:visited {color: #333;}

#sidebar-right .views-field-field-experttitle-value {color: #999; font-size: 0.9em; }

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  245px;
    height: auto;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 75px;
  height: auto;
}


