h4.data {color: #6d6d6d; margin: 10px 0px 0px;}
.middle-data-content {float: left; margin: 15px 10px;}
.data-middle-image {float: left; width: 510px;}
.data-middle-desc {float: right; width: 275px; margin-left: 20px;}
.data-middle-desc p {color: #3f3f3f; line-height: 1.5em;}
.toplevel {background: #fff url(background-wbimages/fauxcol-filler-toplevel-data.gif) repeat-y 50% ;_z-index: -1;}

#wb_vis_container {font-family: Georgia; padding: 5px 10px;}	

input#graphit {padding: 5px 10px;}

.wb_vis_container {padding: 5px 10px;}

h6.data {text-transform: uppercase; font-weight: bold; font-size: 0.833em; color: #000; margin: 5px 0px; }

input#id_graphit {font-family: georgia;}

#wb_vis_type, #wb_vis_indicators, #wb_vis_regions, #wb_vis_date_range, #wb_vis_year {margin: 15px 0px; font-size: 1em; font-weight: bold; color: black}

#wb_vis_type select#vtype, 
#wb_vis_indicators select#wb_vis_indicators_select,
select#wb_vis_regions_select,
select#wb_vis_date_from_select,
select#wb_vis_date_to_select,
select#wb_vis_countries_select {width: 150px; margin: 0px 10px; border: 1px solid #a7b5d8; color: #505050; font-size: 1.1em;}


#wb_vis_indicators select#wb_vis_indicators_select {width: 300px;}

select#wb_vis_regions_select {width: 200px;}

select#wb_vis_date_from_select,
select#wb_vis_date_to_select {width: 100px;}

#node-3913 .nodeasblock-edit-link {clear: both;}


/* Sidebar news */

#related-sidebar {float: right;
width: 200px;
margin-left: 10px;
}

.related-content {background:#F4F7EE none repeat scroll 0 0;
clear:both;
margin:20px 0 10px 0;
_margin:10px 0 10px 10px;
padding:10px;
_width: 200px;
width:180px;}

*html .related-content  {width: 200px;}

#related-sidebar .entry {margin-top: 15px;}

#related-sidebar .contenttype {padding-bottom: 0px;}

.storyphoto {width: 200px;}

.storyphotoleft {float: left; margin: 5px 10px 5px 0px; width: 200px;}

.storyphotoright {float: right; margin: 5px 0px 5px 10px;width: 200px;}

.storyphoto .caption, .storyphotoright .caption, .storyphotoleft .caption {font-size: 0.916em; color: #454545; line-height: 1.3em; padding: 5px 0px 0px;}

/* overrides */
body.region-content-top.region-content-top-right #content-top {padding:10px 15px 0;}

body.region-content-top.region-content-top-right #content-top-right {padding:20px 10px 0;}
