#footer {margin: 0px 30px 20px; padding: 0px 0px 10px; width: 960px; position:relative; background: #f8faf5; }
#footer .footer-breadcrumb {background: #eaeee3; margin: 0px; padding: 0 0 0 10px; border: 1px solid #eaeee3;}

#footer .footer-breadcrumb a , #footer .footer-breadcrumb a:visited,
#footer .footer-breadcrumb a.topic, #footer .footer-breadcrumb a.topic:visited
{color: #4d5146; font-size: 0.916em;}

#footer .footer-breadcrumb a.topic, #footer .footer-breadcrumb a.topic:visited {color: #73766c; font-weight: bold;}

#footer p {margin: 0px 0px; padding: 0px;}
#footer p.logos img {margin: 0px 10px;}
#footer img {vertical-align: middle;}
#footer .footer-links {font-size: 0.8em; margin: 20px; padding: 20px 0px 0px; border-top: 1px solid #dedfd9; line-height: 2em;}
#footer .footer-links a, #footer .footer-links a:visited {color: #7b7c77;}
#footer p.logos a, #footer p.logos a:visited {font-size: 1.25em; font-weight: bold;}

#footer .links {
  margin:0px;
  padding: 0px;
}
#footer .links li {
  list-style : none ;
  display : inline ;
  padding : 0 4px 0 4px;
  border-right : #73766c 1px solid ;
}
#footer .links li.last {
  border-right : none;
}
