

div.breadcrumb { padding-bottom : 0 ;display:none;}
body {
  background:#F4F7EE none repeat scroll 0 0;
  margin:0 0 20px;
  padding:0;
  text-align:center;
}
#wrapper {
  -x-system-font:none;
  background:transparent url(../images/mainbg.png) repeat-y scroll 0 0;
  font-family:arial;
  font-size:12px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  margin:0 auto;
  overflow:hidden;
  padding:0;
  text-align:left;
  width:1020px;
}

#header {
  margin:0 30px;
  padding:10px 0 0;
  position:relative;
  width:960px;
}
#logo {
  margin-bottom:20px;
  margin-left:10px;
  margin-top:15px;
  top:5px;
}
#header #search-box {
  background:transparent url(../images/search-roundbox.gif) no-repeat scroll 0 0;
  bottom:25px;
  height:23px;
  position:absolute;
  right:0;
  top:45px;
  width:207px;
}
#search-box .form-item { display : inline ; }
#search-box .form-submit { 
  margin : 0; 
  border: 0px; 
  background:url(../images/go-btn.gif) 0 7px no-repeat;
  width  :22px ;
  cursor : pointer;

}
#search-box label { position:absolute; left : -45px; ; top: 6px; font-weight : normal;}
#search-box label.over-input {
  left :30px;
  font-size:0.9em;
  color:#534741;

}
#search-box .text-entered label { display:none; }
#search-box .form-text {
  background:transparent url(../images/magnify.gif) no-repeat scroll 0 7px;
  border:0 none;
  color:#534741;
  float:left;
  font-size:0.9em;
  height:14px;
  margin:0 0 0 10px;
  padding:5px 0 0 15px;
  width:150px;
}
#nav {
  margin:10px 0 0;
  position:relative;
}
#nav ul {
  background-color:#5A5E53;
  color:White;
  height:22px;
  margin:0;
  padding:0 0;
  width:960px;
}
html > body #nav ul {
  padding:0 0 0.4em;
}
#nav ul li { display:inline; padding:0px;}

#nav ul li a {
  border-right:1px solid #A9ABA6;
  color:White;
  float:left;
  font-size:0.8em;
  font-weight:bold;
  padding:0.8em 2.4em;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
}

#nav ul li.first a {
  background:#AAAAAA none repeat scroll 0 0;
  border-right:5px solid #FFFFFF;
  font-size:1.1em;
  padding:0.43em 1.5em;
  text-transform:none;
}
#nav ul li.link-4 a {
  background-color:#7D2420;
}
#container {
clear:both;
margin:10px 30px 0;
overflow:hidden;
padding-bottom:0;
position:relative;
width:960px;
background:#FFFFFF url(background-images/fauxcol-filler-toplevel2.gif) repeat-y scroll 0 0;
}

body.region-left.region-far-right div#container {
  background:#FFFFFF url(background-images/fauxcol-filler2.gif) repeat-y scroll 0 0;
  }
body.region-left.region-right #container {
  background:#FFFFFF url(background-images/fauxcol-filler-toplevel2.gif) repeat-y scroll 0 0;
}

#sidebar-left {
  width : 120px;
  margin : 0;
  padding : 0;
  float: left;
}

#center {
  margin: 0 0 10px;
  position: relative;
}

body.region-left #center {
  border-left : 0 solid #EAEEE3;
}

body.region-left #center {
  float : right;
  margin : 0;
  padding : 0;
  width : 839px;
}

#center-top {
  background : #FFFFFF url(background-images/fauxcol-filler-white.gif) repeat-y scroll 50% 0;
}

#center-top {
  float : right;
  margin : 0 0 0 10px;
  padding-bottom : 15px;
  width : 830px;
}
#center-top .block p {
  color : #504D4C;
}
#center-bottom {
  border-top:2px solid #980101;
  float:right;
  width:829px;
}
body.region-right.region-far-right div#center-bottom {
 margin : 0;
 padding : 0;
 width : 839px;
}

body.region-right #center-bottom {
  margin:0 0 0 10px;
  padding:0;
}

#sidebar-right h5 {
  font-size : 1.116em;
}
body.region-far-right #sidebar-right h5 {
  font-size:1em;
}
#sidebar-right h6 {
margin-bottom:10px;
margin-top:0px;
}

#content {
  float : left;
  margin : 0;
  padding : 0;
}

body.region-left.region-far-right div#content {
  width : 430px;
  padding:0px 0px 0em;
  margin ;0px;
}

body.region-left.region-right #content {
  color:#333333;
  float:left;
  font-size:1em;
  line-height:1.5em;
  padding:20px 10px 3em 10px;
  width:506px;
}
body.region-left.region-right #content h6 {
  line-height: normal;
}

#sidebar-far-right,
#sidebar-right {
  float: left;
  margin : 0;
  padding : 0;
}

body.region-left.region-right #sidebar-right {
padding:0px 0 10px 0px;
width:300px;

}

body.region-left.region-far-right div#sidebar-right {
  width : 203px;
  padding:0
}

body.region-left.region-far-right div#sidebar-far-right {
  width : 204px;
}
body.region-left.ie6.region-far-right div#sidebar-right {
  width : 204px;
  padding:0px;
}
body.region-left.ie6.region-far-right div#sidebar-far-right {
  position: absolute;
  right:-5px;
}

#content-top-right {
  float: left;
  width : 180px;
}
#content-top-right h6 {
margin-bottom:10px;
}

/*
#footer {
  border:1px solid #EAEEE3;
  margin:0 30px;
  padding:0px 0 0;
  position:relative;
  width:958px;
  border-top : 0px;
}

*/
