<div id="chart-left" class="">
  <div id="chart-left-title">
    <h1 id="sector_funding_title">Financed Activities by Sector</h1>
  </div>
  <div id="chart-left-stat">
    <h1 id="sector_funding_total"></h1>
    <h2 id="sector_funding_description"></h2>
  </div>
  <div id="chart-left-pie-chart"></div>
</div>

<div id="chart-right" class="">
  <div id="chart-right-title">
    <h1>Financed Activities by <%= @page[:name] == "World" ? "Region" : "Product Line" %></h1>
  </div>
  <!-- <div id="chart-right-stat-subtitle">
    <h1 id="funding_total"></h1>
  </div> -->
  <div id="chart-right-graph"></div>
</div>

<%= partial :initialize if @page[:page_type] == "productline" %>

