<div id="chart-left">
  <div id="chart-left-title">
    <h1 id="sector_funding_title"><%= "Funding by Major Sector" if @country[:name] == "World"  %></h1>
  </div>
  <div id="chart-left-stat">
    <h1 id="sector_funding_total"></h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec odio justo, hendrerit at iaculis a, molestie eu massa. Sed vel lobortis erat. </h2>
  </div>
  <div id="chart-left-pie-chart"></div>
</div>

<div id="chart-right">
  <% unless @country[:name] == "World" %>
  <div id="chart-right-title">
    <h1>Overview Funding By Sector</h1>
  </div>
  <div id="chart-right-stat-subtitle">
    <h1 id="funding_total"></h1>
  </div>
  <div id="chart-right-graph"><img src="wbimages/right-chart-graph.gif" alt="" /></div>
  <% else %>
  <h2 class='block-title'>About Mapping for Results</h2>
  <% end %> 

</div>
