  <div id="share_window" style="display: none; z-index: 10000; padding: 10px 40px; background-color: #888; position: absolute; top:30px;">
    <h3 style="color: #FFF">Embed this map by copying the text below and pasting it into your blog or website.</h3>
    <textarea cols="120" rows="2" readonly="readonly" style="font-size: 0.9em">&lt;iframe src=&quot;http://localhost:4567/afr/kenya/embed?width=800&amp;height=400&amp;controls=true#&amp;location=1.085728,34.954528,10&amp;sectors=water,transportation,industry,health,&amp;indicator=Maternal Health&quot; height=&quot;400&quot; width=&quot;800&quot; scrolling=&quot;no&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;
    </textarea><br />
    <h3 style="color: #FFF">...or copy and paste this link to share the current view with others.</h3>
    <input type="text" size="120" value="http://localhost:4567/afr/kenya#&amp;location=1.085728,34.954528,10&amp;sectors=water,transportation,industry,health,&amp;indicator=Maternal Health" />
    <a id="close_embed" href="#">close</a>
  </div>