  <div id="share_window" style="display: none;">
    <a id="close_embed" href="#" style="" title="Close this embed window.">[x]</a>
    <h3 style="color: #FFF">Embed this map by copying the text below and pasting it into your blog or website.</h3>
    <textarea cols="120" rows="5" readonly="readonly" style="font-size: 0.9em" id="embed_code">
    </textarea><br />
    <h3 style="color: #FFF">...or copy and paste this link to share the current view with others.</h3>
    <input type="text" size="109" id="share_link" value="" />
  </div>