<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>The World Bank - Mapping for Results<%= @page_subtitle %></title>

  <link rel="shortcut icon" href="http://maps.worldbank.org/favicon.ico" type="image/x-icon" />

  <link type="text/css" rel="stylesheet" media="all" href="/css/tipsy.css" />
  <link rel="stylesheet" href="/assets/css/mapping.css">
  <link rel="stylesheet" href="/assets/css/menu.css">
  <script type="text/javascript" charset="utf-8">
  // if (top.frames.length!=0)
  //   top.location=self.document.location;
  </script>
  <%= partial :javascript %>

  <style type="text/css" media="screen">
  body, html {background-color: #FFFFFF; padding: 0; margin: 0;min-width:0}
  h1 {text-align: left;}
  </style>

</head>
<body class=" region-left region-right region-far-right region-content-top">
  <%= yield %>
  <%= partial :analytics %>
</body></html>
