    <% unless @country[:name] == "World" %><div id="footnote">Current projects as of June 30, 2010.</div><% end %>
    <!--Red Footer Begins-->
    <div id="network-breadcrumb">
      <div class="limiter"> <span class="breadcrumb-link"><a class="breadcrumb-link-home">You are here</a></span>
        <span class="breadcrumb-link breadcrumb-first"><a href="http://data.worldbank.org/">Map</a></span>
        <%= map_link(@country) unless @country.nil? %>
        </div>
    </div>
    <!--Grey Footer Begins-->
    <div id="network-footer">
      <div class="limiter"> <a class="network-name" href="http://www.worldbank.org">The World Bank</a>
        <div class="network-footer-nav">
          <ul class="links network-footer-links">
            <li ><a href="http://www.worldbank.org/sitemap">Site Map</a></li>
            <li ><a href="http://www.worldbank.org/siteindex">Index</a></li>
            <li><a href="http://www.worldbank.org/help">FAQs</a></li>
            <li ><a href="http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/0,,contentMDK:20041066~menuPK:34582~pagePK:43912~piPK:44037~theSitePK:29708,00.html">Contact Us</a></li>
            <li ><a href="http://www.worldbank.org/search.htm">Search</a></li>
            <li><a href="http://developer.worldbank.org">API</a></li>
            <li class="rss last"><a href="http://www.worldbank.org/rss">RSS</a></li>
          </ul>
          <div class="network-footer-legal"> &copy; 2010 <a href="http://www.worldbankgroup.org">The World Bank Group</a>, All Rights Reserved. <a href="http://web.worldbank.org/WBSITE/EXTERNAL/0,,contentMDK:20146401~pagePK:50016803~piPK:50016805~theSitePK:13,00.html">Legal</a>.</div>
        </div>
        <div class="network-footer-hotline"> <a href="http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/ORGANIZATION/ORGUNITS/EXTDOII/0,,contentMDK:20659616~menuPK:1702202~pagePK:64168445~piPK:64168309~theSitePK:588921,00.html">Fraud &amp; Corruption Hotline</a><br />
          <a href="http://web.worldbank.org/WBSITE/EXTERNAL/EXTABOUTUS/ORGANIZATION/ORGUNITS/EXTDOII/0,,contentMDK:20659616~menuPK:1702202~pagePK:64168445~piPK:64168309~theSitePK:588921,00.html">1-800-831-0463</a></div>
      </div>
    </div>
    <!--Grey Footer Ends-->
  </div>
  <!-- /#footer -->