<% @page_subtitle = @page[:name] == "World" ? "" : [@page[:name],@page[:region] || nil].compact.compact.join(", ") + " > " %>
<%# partial :map %>
<%= partial :map_header %>
<div id="map-content">
  <div id="wb_map_wrapper" style="z-index: 5; height: 514px; 958px">
  <div id="wb_map" class="" style="height: 520px"></div>
  </div>
</div>

<%= partial :charts if %w{world country}.include?(@page.page_type) %>
<%= partial :initialize if %w{world region country project}.include?(@page.page_type) %>

<%= partial :projects_table if @page.page_type == "country" %>
<% unless @page.page_type == "project" %>
<script type="text/javascript" charset="utf-8" src="/js/wb_behaviors.js"></script>
<% end %>