<div id="login">
  <h1>Welcome to Mapping for Results Administration</h1>
</div>

<p>
  Please Login to continue.
</p>    
<form id="login_form" action="/login" method="post">
  <label for="username">Username</label>
  <input id="username" name="username" />
  <br/>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <br/>
  <input type="submit" id="submit" value="login"></input>  
</form>

<div id="support">
    For more information, contact <a href="mailto:support@geoiq.com"></a>
</div>
