    <div id="container">
      <div id="banner">
        <h1 id="banner-header" title="Click to hide the overview information">
          <span>Mapping for Results</span>
          <div class="collapsible-header collapsed" content_id="collapsible-banner" >
            <div title="More information about Mapping for Results" class="banner-open-image"></div>
          </div>
        </h1>
        
        <div id="banner-content">
          <div class="collapsible-content" id="collapsible-banner" style="display:none">
            <div id="block-nodeasblock-3273" class="block block-nodeasblock ">
              <div class="content">
                <div class="overview-links">
                  <p>Overview »</p>
                  <ul>
                    <li><a href="/about#context">Context</a></li>
                    <li><a href="/about#partners">Partners</a></li>
                    <li><a href="/about#feedback">Feedback</a></li>
                  </ul>
                </div>
                <div class="overview-text"><strong>The Mapping for Results Beta</strong> initiative provides detailed information on our efforts to reduce poverty and alleviate human suffering in every part of the world. This website showcases information on the what and where by accessing the indicator, sector, region, and funding dropdown and toggle areas. <a class="readmore" href="/about">Read More »</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <%= partial :share %>
