<!--Table Data Begins-->
<div id="map-table">
</div>
<!--Data Table Ends-->
<% if false %>
<div id="page-scroll">
  <div id="pagination">
    <ul>
      <li class="previous"><a href="#">&lt;&lt; PREVIOUS</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">NEXT &gt;&gt;</a></li>
      <li class="fulllist"><a href="#">FULL LIST</a></li>
    </ul>
  </div>
</div>
<% end %>
