   <!--Project Search Bar Begins-->
    <div id="projects-bar">
      <div class="project-bar-text"><img src="images/down-arrow-black.gif" alt="" width="11" height="7" class="img-margins" />&nbsp;&nbsp;&nbsp;&nbsp;Total Project List / <%= @country[:name].capitalize %></div>
      <div id="div">
        <form action="/" accept-charset="UTF-8" method="post" id="search-theme-form">
          <input maxlength="128" name="search_theme_form" id="project-search-box" size="15" value="" class="project-search-box-text" type="text" />
        </form>
      </div>
    </div>
    <!--Table Data Begins-->
    <div id="projects-table" style="width:960px; float:left">
      <!-- <div id="data-table">
        <table width="960" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th class="project-th">Project Title</th>
            <th><img src="images/down-arrow-black.gif" alt="" / class=" table-th-black-arrow" />Project ID</th>
            <th><div id="commitment-arrow"><img src="images/down-arrow-black.gif" alt="" /></div>
              <div id="commitment-amount-th">Commitment Amount</div></th>
            <th><img src="images/down-arrow-black.gif" alt="" / class=" table-th-black-arrow" />Sector</th>
            <th><img src="images/down-arrow-black.gif" alt="" / class=" table-th-black-arrow" />Status</th>
            <th><div id="commitment-arrow"><img src="images/down-arrow-black.gif" alt="" /></div>
              <div id="commitment-amount-th">Approval Date</div></th>
          </tr>
          <tr>
            <td><h1>Hajia Railway</h1></td>
            <td>P000000</td>
            <td>$300 million</td>
            <td>Transportation</td>
            <td>Pipeline</td>
            <td>25-FEB-2010</td>
          </tr>
          <tr>
            <td class="background-colored-cell"><h1>Zhejiang Qiantang River Basin Small Town Environment Project</h1></td>
            <td class="background-colored-cell">P000000</td>
            <td class="background-colored-cell">$100 million</td>
            <td class="background-colored-cell">Environment</td>
            <td class="background-colored-cell">Pipeline</td>
            <td class="background-colored-cell">25-FEB-2010</td>
          </tr>
          <tr>
            <td><h1>China Wuhan Second Urban Transport</h1></td>
            <td>P000000</td>
            <td>$100 million</td>
            <td>Transportation</td>
            <td>Active</td>
            <td>30-MAR-2010</td>
          </tr>
          <tr>
            <td class="background-colored-cell"><h1>CN-Yunnan Urban Environtment-Phase II Additional Financing</h1></td>
            <td class="background-colored-cell">P000000</td>
            <td class="background-colored-cell">$60 million</td>
            <td class="background-colored-cell">Transportation</td>
            <td class="background-colored-cell">Pipeline</td>
            <td class="background-colored-cell">30-MAR-2010</td>
          </tr>
          <tr>
            <td><h1>Sustainable Development in Poor Rural Areas</h1></td>
            <td>P000000</td>
            <td>$100 million</td>
            <td>Rural Development</td>
            <td>Pipeline</td>
            <td>30-MAR-2010</td>
          </tr>
        </table>
      </div> -->
    </div>
    <!--Data Table Ends-->
    <div id="page-scroll">
      <div id="pagination">
        <ul>
          <li class="previous"><a href="#">&lt;&lt; PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">NEXT &gt;&gt;</a></li>
          <li class="fulllist"><a href="#">FULL LIST</a></li>
        </ul>
      </div>
    </div>