   <!--Project Search Bar Begins-->
    <div id="projects-bar" class="expanded">
      <div class="project-bar-text"><img src="/images/down-arrow-black.gif" alt="" width="11" height="7" class="img-margins" />&nbsp;&nbsp;&nbsp;&nbsp;Total Project List / <%= @country[:name].capitalize %></div>
      <div id="div">
        <form action="/" accept-charset="UTF-8" method="post" id="search-theme-form">
          <input maxlength="128" name="search_theme_form" id="project-search-box" size="15" value="" class="project-search-box-text" type="text" />
        </form>
      </div>
    </div>
    <!--Table Data Begins-->
    <div id="projects-table" style="width:960px; float:left">
    </div>
    <!--Data Table Ends-->
    <% if false %>
    <div id="page-scroll">
      <div id="pagination">
        <ul>
          <li class="previous"><a href="#">&lt;&lt; PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">NEXT &gt;&gt;</a></li>
          <li class="fulllist"><a href="#">FULL LIST</a></li>
        </ul>
      </div>
    </div>
    <% end %>