 <div id="search-box">
	<form action="http://search.worldbank.org/all" accept-charset="UTF-8" method="get" id="search-theme-form">
		<div>
			<div id="search" class="container-inline">
				<div class="form-item" id="edit-search-theme-form-1-wrapper">
					<label class="over-input" for="search-header">Search </label>
					<input maxlength="128" name="qterm" id="search-header" size="15" value="" onfocus="if (this.value == 'Search My Site') {this.value = '';}" class="form-text" type="text">
				</div>
				<input name="op" id="qterm edit-submit" value="" class="form-submit" type="submit">
			</div>
		</div>
	</form>
</div>