<% if (params[:controls] || false).to_s != "true" %>
<ul id="activities_menu" class="map-options dropmenu">
  <li class="sectors"><span>ACTIVITIES: </span></li>
  <li><a href="#" id="layercontrol_projects" class="arwOrange" onclick="return wb.toggleSector('none',false)">By Sector</a>
    <ul class="dropmenu_options">
      <li><a href="#" onclick="wb.toggleSector('all', true); return false">By Sector</a></li>
      <li><a href="#" onclick="wb.toggleSector('counts_admin1', true); return false">By Count</a></li>
      <li><a href="#" onclick="wb.toggleSector('none',false); return false">No Activities</a></li>
    </ul>
  </li>
</ul>
<% end %>
      <div id="map-content-icons">
        <div id="map-content-icons2">
          <ul>
          <% if defined?(@additional_controls) || (params[:controls] || false).to_s == "true" %>
          <li style="margin-left: 11px; margin-right: 11px;">Sector:</li>
          <% end %>
            <li class="s1"><a  sector-name="public" original-title="Public Administration, Law, and Justice" class="sectorcontrol inactive" id="sectorcontrol_public" href="#">1</a></li>
            <li class="s2"><a  sector-name="agriculture" original-title="Agriculture, fishing, and forestry" class="sectorcontrol inactive" id="sectorcontrol_agriculture" href="#">2</a></li>
            <li class="s3"><a  sector-name="health" original-title="Health and other social services" class="sectorcontrol inactive" id="sectorcontrol_health" href="#">3</a></li>
            <li class="s4"><a  sector-name="communications" original-title="Information and communications" class="sectorcontrol inactive" id="sectorcontrol_communications" href="#">4</a></li>
            <li class="s5"><a  sector-name="energy" original-title="Energy and mining" class="sectorcontrol inactive" id="sectorcontrol_energy" href="#">5</a></li>
            <li class="s6"><a  sector-name="finance" original-title="Finance" class="sectorcontrol inactive" id="sectorcontrol_finance" href="#">6</a></li>
            <li class="s7"><a  sector-name="industry" original-title="Industry and Trade" class="sectorcontrol inactive" id="sectorcontrol_industry" href="#">7</a></li>
            <li class="s8"><a  sector-name="transportation" original-title="Transportation" class="sectorcontrol inactive" id="sectorcontrol_transportation" href="#">8</a></li>
            <li class="s9"><a  sector-name="water" original-title="Water, sanitation and flood protection" class="sectorcontrol inactive" id="sectorcontrol_water" href="#">9</a></li>
            <li class="s10"><a sector-name="education" original-title="Education" class="sectorcontrol inactive" id="sectorcontrol_education" href="#">10</a> </li>            
              <% if (params[:controls] || false).to_s != "true" %>
             <li class="s11 all"><form action="" method="get">
                <input name="input" id="sall" class="" type="checkbox" value=""/>
              </form></li>
            <li class="all">ALL</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="map-content-regions" style="display:none">
        <ul class="radio-prov">
          <li onclick="wb.toggleSector('counts_admin1', true); return false">
            <input type="radio" id="select_province" value="province" name="by_region"/>
            <label>PROVINCE</label>
          </li>
          <li onclick="wb.toggleSector('counts_admin2', true); return false">
            <input type="radio" id="select_district" value="district"  name="by_region"/>
            <label>DISTRICT</label>
          </li>
        </ul>
      </div>       

  