
  <script type="text/javascript">
  $(function() {
       jq('#sector1').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector2').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector3').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector4').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector5').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector6').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector7').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector8').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector9').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector10').tipsy({gravity: jQuery.fn.tipsy.autoNS});
       jq('#sector11').tipsy({gravity: jQuery.fn.tipsy.autoNS});
  });
  </script>

      <div id="map-content-icons">
        <div id="map-content-icons2">
          <ul>
            <li class="sectors">ACTIVE SECTORS:</li>
            <li class="s1"><a original-title="Public administration Law, Justice" id="sector1" href="javascript:wb.toggleSector('public')">1</a></li>
            <li class="s2"><a original-title="Agriculture, fishing, forestry" id="sector2" href="javascript:wb.toggleSector('agriculture')">2</a></li>
            <li class="s3"><a original-title="Health, other social" id="sector3" href="javascript:wb.toggleSector('health')">3</a></li>
            <li class="s4"><a original-title="Communications" id="sector4" href="javascript:wb.toggleSector('communications')">4</a></li>
            <li class="s5"><a original-title="Energy, mining" id="sector5" href="javascript:wb.toggleSector('energy')">5</a></li>
            <li class="s6"><a original-title="Finance" id="sector6" href="javascript:wb.toggleSector('finance')">6</a></li>
            <li class="s7"><a original-title="Industry, trade" id="sector7" href="javascript:wb.toggleSector('industry')">7</a></li>
            <li class="s8"><a original-title="Transportation" id="sector8" href="javascript:wb.toggleSector('transportation')">8</a></li>
            <li class="s9"><a original-title="Water, Sanitation, flood protection" id="sector10" href="javascript:wb.toggleSector('water')">9</a></li>
            <li class="s10"><a original-title="Education" id="sector11" href="javascript:wb.toggleSector('education')">10</a> </li>
            <li class="s11"><form action="" method="get">
                <input name="input" type="checkbox" value="" onclick="wb.toggleSector('all')"/>
              </form></li>
            <li class="all">ALL</li>
          </ul>
        </div>
      </div>