  <div id="share">
  	<ul class="dropmenu map-options">
  	  <% if @page.url =~ /extractives/ %>
  	  <li class="about">
  	   <span></span><a href="#" id="about_link" title="About">About</a>
  	   <ul class="dropmenu_options">
  	     <li><a href="/extractives/about_extractives" id="" title="About">About the data</a></li>
  	     <li><a href="/extractives/how_extractives" id="" title="How">How-to guide</a></li>
  	   </ul>
  	  </li>
  	  <% end %>
  	    <% if %w{country}.include?(@page.page_type) %>
          <li class="download"><a title="download" href="#" id="download_data"><span></span>DOWNLOAD</a>     
              <ul class="dropmenu_options" id="data_links">
              </ul>
           </li>     
        <% end %>
          <li class="share"><a title="share" href="#" id="share_options"><span></span>SHARE</a>
              <ul class="dropmenu_options">
                <li><a title="embed" href="#" id="embed_map"><span></span>Embed Map</a></li>
                <li><a href="http://twitter.com/home?status=<%= @page_title.gsub(/\s/,'+') %>+<%= PLATFORM_API_URL + request.env["REQUEST_URI"] %>" target="_new" id="twitter_link" onclick="return twt_click()">Twitter</a></li>
                <li><a rel="nofollow" href="http://www.facebook.com/share.php?u=<%= PLATFORM_API_URL + request.env["REQUEST_URI"] %>" class="fb_share_button" onclick="return fbs_click()" target="_blank" style="text-decoration:none;">Facebook</a> </li>
                <!-- <li><a href="#" id="">Embed the Map</a></li> -->
              </ul>
          </li>
      </ul>
  </div>
  <%= partial :embed_links %>
  