  <div id="share">
  	<ul>
          <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="http://worldbank.org" data-related="worldbank">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
          <!-- <li class="facebook"><a href="#" title="Facebook"></a></li> -->
          <li class="share"><a title="share" href="#"><span></span>SHARE</a></li>
      </ul>
  </div>