        <h1 id="map-summary" class="loaded txtRed txtGeorgia">
        	<span id="project_count">&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="smallHdr">total active projects working in</span> <span id="activity_count">&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="smallHdr">mapped locations</span>
        </h1>